Given the code below, insert the correct negative index on line 3 in order to get the last character in the string.

In [1]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

<p>Given the code below, insert the correct positive index on line 3 in order to return the comma character from the string.</p>

In [3]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

<p>Given the code below, insert the correct negative index on line 3 in order to return the <strong>w </strong>character from the string.</p>

In [4]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

<p>Given the code below, insert the correct method on line 3 in order to return the index of the <strong>B </strong>character in the string.</p>

In [5]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

<p>Given the code below, insert the correct method on line 3 in order to return the number of occurrences of the letter <strong>o </strong>in the string.</p>

In [6]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

<p>Given the code below, insert the correct method on line 3 in order to convert all letters in the string to uppercase.</p>

In [7]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

<p>Given the code below, insert the correct method on line 3 in order to get the index at which the substring <strong>Bitcoin </strong>starts.</p>

In [8]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

<p>Given the code below, insert the correct method on line 3 in order to check of the string starts with the letter <strong>X</strong>.</p>

In [9]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

<p>Given the code below, insert the correct method on line 3 in order to convert all uppercase letters to lowercase and all lowercase letters to uppercase.</p>

In [10]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

<p>Given the code below, insert the correct method on line 3 in order to remove all spaces (single Space characters from the keyboard) from the string.</p>

In [11]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

<p>Given the code below, insert the correct method on line 3 in order to replace all the occurrences of letter <strong>i </strong>with the substring <strong>btc</strong>.</p>

In [12]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

<p>Given the code below, insert the correct method on line 3 in order to split the entire string in two parts, using the comma as a delimiter.</p>

In [13]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

<p>Given the code below, insert the correct method on line 3 in order to join the characters of the string using the <strong>&amp; </strong>symbol as a delimiter.</p>

In [14]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

<p>Given the code below, insert the correct code on line 4 in order to concatenate <strong>my_string</strong> with the following string:</p><code>my_other_string = "Poor guy!"</code>

In [15]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."
my_other_string = "Poor guy!"

<p>Given the code below, insert the correct method on line 3 in order to convert the first letter of each word in the string to uppercase.</p>

In [16]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

<p>Given the code below, use string formatting with the <strong>format()</strong> method on line 3 to map the values of <strong>2010</strong>, <strong>10k </strong>and <strong>Bitcoin </strong>to the corresponding formatting operators.</p>

In [17]:
my_string = "In {}, someone paid {} {} for two pizzas."

<p>Given the code below, use slicing and insert the correct code on line 3 in order to return the substring <strong>2010 </strong>from the string. Use positive indexes!</p>

In [18]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

<p>Given the code below, use slicing and insert the correct code on line 3 in order to return the substring <strong>Bitcoin </strong>from the string. Use negative indexes!</p>

In [19]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

<p>Given the code below, use slicing and insert the correct code on line 3 in order to return the first 12 characters in the string. Use a single, positive index!</p>

In [20]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

<p>Given the code below, use slicing and insert the correct code on line 3 in order to return the last 9 characters of the string. Use a single, negative index!</p>

In [21]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

<p>Given the code below, use slicing and insert the correct code on line 3 in order to return the entire string in reversed order.</p>

In [22]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

<p>Given the code below, use slicing and insert the correct code on line 3 in order to return every 7th character of the string, starting with the first character.</p><p>The final result should be <code>I,n top</code></p>

In [23]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

<p>Given the code below, use slicing and insert the correct code on line 3 in order to return the string except the first 10 characters. Use a single, positive index!</p>

In [24]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

<p>Given the code below, use slicing and insert the correct code on line 3 in order to return the string except the last 4 characters. Use a single, negative index!</p>

In [25]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."